<h1>About Lasso</h1>
	<p>
		Lasso is a tool that allows government contractors to manage sophisticated capture efforts and win more business! We have taken proven capture management techniques, tools, and templates and created a cloud solution that business development managers can use to capture business. 
	</p>

	<p>
		<a href="#">Sign Up Now!</a>
	</p>
