<div class="hero-unit">
	<h1>Lasso Capture Management Tool</h1>
		<p>
			Lasso is a tool that allows government contractors to manage sophisticated capture efforts and win more business!
		</p>

		<p>
			<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
		</p>
</div>